*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.section_card:nth-child(1) > .section_card_img {
  width: 45%;
  border-radius: 5px; }

.section_card:nth-child(2) > .section_card_img {
  width: 43%;
  border-radius: 5px; }

.section_card:nth-child(3) > .section_card_img {
  width: 52%;
  border-radius: 5px; }

.flex-column, .section_card_wrap, .section_card .section_card_right_container {
  display: flex;
  flex-direction: column; }

body {
  background-color: #1c1e2a; }

header {
  padding-top: 15px;
  background-image: url(../img/m-h-night.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 0 40% 0; }

.header-wrap {
  width: 1540px;
  margin: 0 auto; }

.landing-logo {
  margin-bottom: 65px; }
  .landing-logo p {
    margin-left: 15px;
    font-family: "Hind", sans-serif;
    display: inline-block;
    text-align: center;
    font-size: 25px;
    line-height: 25px; }
    .landing-logo p span {
      display: block;
      font-size: 10px;
      line-height: 10px; }

.header_heading {
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
  font-size: 70px;
  max-width: 600px;
  font-weight: 700;
  margin-bottom: 25px;
  line-height: 80px;
  position: relative;
  z-index: 2; }
  .header_heading::before {
    content: " ";
    position: absolute;
    height: 50px;
    width: 295px;
    background-color: #ff4d30;
    z-index: -1;
    bottom: 5px;
    left: 0;
    z-index: -1; }

.header_text {
  font-family: "Hind", sans-serif;
  color: #fff;
  margin-bottom: 52px;
  white-space: pre-line; }

.header_button {
  width: 140px;
  height: 50px;
  color: #fff;
  background-color: #e4ae00;
  outline: none;
  border: 0;
  border-radius: 5px;
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 175px;
  margin-right: 150px; }

.login {
  font-family: "Source Sans Pro", sans-serif;
  color: #fff; }

.section_text {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 41px;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 35px;
  color: #fff;
  position: relative;
  z-index: 2; }
  .section_text::after {
    content: " ";
    position: absolute;
    height: 50px;
    width: 190px;
    background-color: #ff4d30;
    z-index: -1;
    bottom: 5px;
    right: 765px;
    z-index: -1; }

.section_card_wrap {
  align-items: center; }

.section_card {
  background-color: #383d4f;
  display: flex;
  align-items: center;
  width: 1118px;
  border-radius: 5px;
  color: #fff;
  margin-bottom: 18px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 110px;
  justify-content: space-between; }
  .section_card .section_card_heading {
    font-size: 25px;
    font-family: "Source Sans Pro", sans-serif;
    text-align: center; }
  .section_card .section_card_text {
    font-family: "Hind", sans-serif;
    margin-top: auto; }
  .section_card .section_card_right_container {
    width: 480px;
    margin-left: 86px;
    min-height: 200px;
    height: 100%;
    justify-content: space-between; }
  .section_card .section_link {
    font-family: "Source Sans Pro", sans-serif;
    color: #fff;
    display: block;
    text-align: center; }

.section_card:nth-child(3) .section_card_right_container {
  min-height: 244px; }
  .section_card:nth-child(3) .section_card_right_container .section_card_heading {
    margin-top: 28px; }
  .section_card:nth-child(3) .section_card_right_container .section_card_text {
    font-family: "Hind", sans-serif;
    margin-top: 37px; }
  .section_card:nth-child(3) .section_card_right_container .section_link {
    margin-top: 3px; }

.section_banner {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }

.section_banner_text_wrap {
  margin-top: 121px;
  padding-top: 18px;
  padding-bottom: 40px;
  padding-left: 160px;
  border-radius: 5px;
  width: 1197px;
  background: #679708;
  background: linear-gradient(45deg, #dfa501 0%, #972f4e 90%); }

.section_banner_heading {
  font-family: "Hind", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: relative;
  z-index: 2;
  color: #fff; }
  .section_banner_heading::after {
    content: " ";
    position: absolute;
    height: 50px;
    width: 64px;
    background-color: #ff4d30;
    z-index: -1;
    left: 122px; }

.section_banner_text {
  margin-top: 10px;
  font-family: "Hind", sans-serif;
  color: #fff; }

.section_banner_button {
  width: 140px;
  height: 50px;
  color: #fff;
  background-color: #e4ae00;
  outline: none;
  border: 0;
  border-radius: 5px;
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
  position: absolute;
  right: 159px;
  bottom: 48px; }

footer {
  background-color: #21232e; }

.footer-wrap {
  width: 1540px;
  margin: 0 auto;
  margin-top: 210px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 310px; }

.landing-logo,
.footer_text,
.footer-cr {
  font-family: "Hind", sans-serif;
  color: #a2b8c2;
  width: 15%; }
