$headerBg: url(../img/m-h-night.jpg);
$sans: 'Source Sans Pro',
sans-serif;
$hind:'Hind',
sans-serif;
$preska:'Fresca',
sans-serif;
$btnColor:#e4ae00;
$fontColor: #fff;
$mainColor: #1c1e2a;
$markColor:#ff4d30;
$cardColor:#383d4f;
$banerGradient: linear-gradient(45deg, rgba(223, 165, 1, 1) 0%, rgba(151, 47, 78, 1) 90%);