$headerBg: url(../img/m-h-day.jpg);
$sans: 'Source Sans Pro',
sans-serif;
$hind:'Hind',
sans-serif;
$preska:'Fresca',
sans-serif;
$fontColor: #000;
$btnColor:#699900;
$mainColor: #fff;
$cardColor:#383d4f;
$markColor:#14a0c7;
$banerGradient: linear-gradient(45deg, rgba(103, 151, 8, 1) 0%, rgba(49, 95, 204, 1) 90%);
$imgScale: ( 1: 45%, 2: 43%, 3: 52%);